{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{ % static 'admin_page/criminal_style.css'% }">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

	<title>Criminal-Detector</title>
</head>
<body class="bg-info">
	<div class="container">
        <!-- As a heading -->
        <nav class="navbar bg-light">
            <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Criminals</span>
            </div>
        </nav>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
		{% for criminal in page_obj.object_list %}
		{# note that the list of posts are in the page_obj.object_list not page_obj #}
        
            <tbody>
              <tr>
                <th scope="row">{{criminal.criminal_id}}</th>
                <td>{{criminal.name}}</td>
                <td>{{criminal.age}}</td>
                <td>{{criminal.location}}</td>
              </tr>
            </tbody>
		{% endfor %}
        </table>
	</div>
	<center>
		{%if page_obj.has_previous %} {# whether the previous page exists #}
			<a href="?page={{page_obj.previous_page_number}}"><</a> {# link to the prev page #}
		{% endif %}
		<span>{{page_obj.number}}</span> {# the current page number #}
		
		{%if page_obj.has_next %} {# whether the next page exists #}
			<a href="?page={{page_obj.next_page_number}}">></a> {# link to the next page #}
		{% endif %}
	</center>
</body>
</html>
